= simple_form_for(@workout, html: { class: 'form-horizontal' }) do |f|
  = f.input :date, label: "Date"
  = f.input :workout, label: "Area of workout", input_html: { class: "form-control" }
  = f.input :mood, label: "Feeling", input_html: { class: "form-control" }
  = f.input :length, label: "Length of workout", input_html: { class: "form-control" }
  %br/
  = f.button :submit
